*{ padding:0px ; margin: 0px; box-sizing: border-box;}
.clearfix:after{
	content: ".";
	visibility: hidden;
	height: 0px;
	display: block;
	clear: both;
}
li{
	list-style: none;
}
body{
	background: #eee;
	line-height: 1;
}
header{

}
nav{

}
section{
	padding-top: 60px;
}
section div{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
section div ul#gridbox, section div ul#movebox{
	width: 400px;
	height: 400px;
	position: absolute;
	background: #888;	
}
section div ul#movebox{
	background: none;	
}
section  div ul#gridbox li.grid,
section  div ul#movebox li.moveblock {
	position: absolute;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	border: 1px solid rgba(220,200,201,0.5);
}
section  div ul#movebox li.moveblock {
	z-index: 1;
}
section  div ul#gridbox li.grid span{
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	background: #eee;
	color: #222;
	z-index: 1;
}
.obstacleBlock{
	background: #bbb;
	border: 1px solid rgba(50,50,50,0.5);
}
section div .gameOverMessage, section div .succesMessage{
	display: none;
	position: absolute;
	top: 50px;
	left: 50px;
	margin: 0 auto;
	background: #fff;
	z-index: 1;
	width: 300px;
	height: 200px;
	box-shadow: 0px 0px 0px 2000px rgba(50,50,50,0.4);
	border-radius: 10px;
}
section div h2{
	text-align: center;
	height: 100px;
	line-height: 100px;
}
.tryAgain{
	display: block;	
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100px;
	margin: 0 auto ;
	border-radius: 10px;
	background: #12aeef;
	cursor: pointer;
	outline: none;
	border: none;
}

.transiton{
  -webkit-transition: top .035s, left .035s, opacity 1s;
  -moz-transition: top .035s, left .035s, opacity 1s;
  transition: top .035s, left .035s, opacity 1s;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.scale {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
@-webkit-keyframes appear-zoom-in {
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear-zoom-in {
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes appear-zoom-in {
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.scale-zoom-in {
  -webkit-animation: appear-zoom-in 200ms ease 100ms;
  -moz-animation: appear-zoom-in 200ms ease 100ms;
  animation: appear-zoom-in 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
